<rss version="2.0">
  <channel>
    <title><%= settings.blog_title %></title>  
    <description><%= settings.blog_description %></description>
    <link>http://www.codebiff.com</link>
    <% for post in @posts %>
      <item>
        <title><%= h post.title %></title>
        <link>http://codebiff.com/<%= post.name %></link>
        <pubDate><%= Time.parse(post.date.to_s).rfc822 %></pubDate>
        <description><%= h post.to_html.gsub!(/~~\w+/, "") %></description>
      </item>
    <% end %>
  </channel>
</rss>
