<!DOCTYPE html>
<html>

  <head>
    <title><%= BLOG_TITLE %> | <%= @title %></title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/codebiff">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/zenburn.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
    <script src="/js/timeago.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body>
    
    <section id="container">

      <section id="mainColumn">
        
        <section id="contents">
          
          <%= yield %>

        </section> <!-- /contents -->

      </section>





      <section id="sidebar">

        <section class="sidebar-box">
          <a class="title" href="/">codebiff</a>
        </section>
        
        <section class="sidebar-box">
          <a href="http://feeds.feedburner.com/codebiff" class="social-link"><img src="/images/rss.png" alt="rss feed"></a>  
          <a href="https://twitter.com/#!/codebiff" class="social-link"><img src="/images/twitter.png" alt="twitter"></a>  
          <a href="http://vimeo.com/user9987967/videos" class="social-link"><img src="/images/vimeo.png" alt="vimeo"></a>  
        </section> <!-- /sidebar-box -->

        <section class="sidebar-box sidebar-nav">
          <h3>navigation</h3>
          <a href="/">home</a><br/>
          <a href="/about-this-site">about</a><br/>
          <a href="/archive">archive</a>
        </section> <!-- /sidebar-box -->

        <section class="sidebar-box">
          <h3>tags</h3>
          <ul class="tags">
            <% for tag in @tags %>
              <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
            <% end %>
          </ul>
        </section> <!-- /sidebar-box -->

        <section class="sidebar-box">
          <h3>twitter</h3>
          <p id="twitter">loading...</p>
          <p class="follow-me-twitter">follow me - <a href="https://twitter.com/#!/codebiff">@codebiff</a></p>
        </section> <!-- /sidebar-box -->

        <section clas="sidebar-box google-ads">
          <script type="text/javascript"><!--
            google_ad_client = "ca-pub-4201039379669345";
            /* codebiff-sidebar */
            google_ad_slot = "3954655925";
            google_ad_width = 200;
            google_ad_height = 200;
            //-->
          </script>
          <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </section>

      </section>





      <footer id="footer">

        <section class="footer-block">
          <a href="http://feeds.feedburner.com/codebiff" class="social-link"><img src="/images/rss-small.png" alt="rss feed"></a>  
          <a href="https://twitter.com/#!/codebiff" class="social-link"><img src="/images/twitter-small.png" alt="twitter"></a>  
          <a href="http://vimeo.com/user9987967/videos" class="social-link"><img src="/images/vimeo-small.png" alt="vimeo"></a>  
        </section>

        <section class="footer-block center">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
        </section>

        <section class="footer-block">
        </section>

      </footer>

    </section> <!-- /container -->
  </body>
</html>
