<article class="post full">
    
    <header>
    <h1><a><%= @post.title %></a></h1>
    <time datetime="<%= @post.date.strftime("%Y-%M-%d") %>">
      <%= @post.date.strftime("%B %d, %Y") %>
    </time>
      <p>
        <ul class="tags">
          <% for tag in @post.tags %>
            <li><a href="/tags/<%= tag %>"><%= tag %></a></li>
          <% end %>
        </ul>
      </p>
    </header>  

    <section class="postContent">
      <%= @post.to_html %>
    </section>

</article>
